@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="@Html.Sitecore().Field("MetaDescription", new { DisableWebEdit = true })" />
    <title>@Html.Sitecore().Field("MetaTitle", new { DisableWebEdit = true })</title>
    <link rel="stylesheet" type="text/css" href="/Css/vendor.min.css" />
    <link rel="stylesheet" type="text/css" href="/Css/niteflight.min.css" />
    <link rel="stylesheet" type="text/css" href="/Css/addition.css">
    <link rel="stylesheet" type="text/css" href="/Css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Css/Difficulty.css">
    @Html.Sitecore().VisitorIdentification()
</head>

<body class="header-static ">
    <div id="main-container">
        <!-- [Page Header] -->
        <header class="header-static">
            <nav class="navbar navbar-default navbar-static" id="mainNavbar">
                <div class="container">
                    <!-- [Company Logo] -->
                    <div class="navbar-left">
                        <a class="navbar-brand" href="index.html">
                            <span class="logo">
                                <img src="Images/Logo_400x60.png" alt="The Adventure Company" width="400" height="60" />
                            </span>
                        </a>
                    </div>
                    <!-- [/Company Logo] -->
                    <!-- [Main Navigation] -->
                    <div class="navbar-left">
                        <div class="collapse navbar-collapse" id="siteNavbar">
                            <ul class="nav navbar-nav">
                                <li><a class="text-uppercase" href="index.html">Home</a></li>
                                <li class="dropdown">
                                    <a href="Event-Sections.html" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">
                                        Events<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="Event-List.html">Climbing</a></li>
                                        <li><a href="Event-List.html">Cycling</a></li>
                                        <li><a href="Event-List.html">Hiking</a></li>
                                        <li><a href="Event-List.html">Skiing</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- [/Main Navigation] -->
                    <!-- [Language Navigation] -->
                    <div class="navbar-right">
                        <div class="navbar-activity">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="active"><a href="#">English</a></li>
                                        <li><a href="#">Deutsch (Deutschland)</a></li>
                                        <li><a href="#">日本語 (日本)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- [/Language Navigation] -->
                </div>
            </nav>
        </header>
        <!-- [/Page Header] -->
        <!-- [Page Content] -->
        <main>
            <header class="page-header">
                <div class="container">
                    <!-- [Breadcrumb Navigation] -->
                    <ol class="breadcrumb">
                        <li><a href="Index.html">Home</a></li>
                        <li><a href="Event-Sections.html">Events</a></li>
                        <li><a href="Event-List.html">Climbing</a></li>
                        <li class="active"><a href="Event-Detail.html">Climbing the Face of Half Dome</a></li>
                    </ol>
                    <!-- [/Breadcrumb Navigation] -->
                </div>
            </header>
            <section class="page-header">
                <div class="container">
                    <!-- [Two Columns] -->
                    <div class="row">
                        <div class="col-lg-4">
                            <aside>
                                <!-- [Page Navigation] -->
                                <h4><a href="Event-Categories.html">Events</a></h4>
                                <div class="sidebar sidebar-static">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li class="open">
                                            <a href="Event-Overview.html">Climbing</a>
                                            <ul class="nav nav-pills nav-stacked">
                                                <li><a href="Event-Detail.html">Climbing Event A</a></li>
                                                <li><a href="Event-Detail.html">Climbing Event B</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="Event-Overview.html">Cycling</a></li>
                                        <li><a href="Event-Overview.html">Hiking</a></li>
                                        <li><a href="Event-Overview.html">Skiing</a></li>
                                    </ul>
                                </div>
                                <!-- [/Page Navigation] -->
                                <!-- [Related Events] -->
                                <div class="bg-primary side-widget">
                                    <h4 class="text-uppercase">Other events you will like</h4>
                                    <div class="sidebar">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>
                                                <a href="#">Hiking in Spain</a>
                                            </li>
                                            <li>
                                                <a href="#">Cycling tour of South Africa</a>
                                            </li>
                                            <li>
                                                <a href="#">Magic Alaska</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- [/Related Events] -->
                                <!-- [Subscribe to mailing list] -->
                                <div class="side-widget">
                                    <h4 class="text-uppercase">Our next events</h4>
                                    <div class="sidebar">
                                        <div class="text">Subscribe to our monthly newsletter and be the first to learn about our forthcoming events.</div>
                                        <form action="#">
                                            <div>
                                                <input class="form-control" type="email" placeholder="your@email.com" name="email">
                                            </div>
                                            <input class="btn btn-default" type="submit" value="Subscribe">
                                        </form>
                                    </div>
                                </div>
                                <!-- [/Subscribe to mailing list] -->

                            </aside>
                        </div>
                        <div class="col-lg-8">
                            <!-- [Event Info] -->
                            <header>
                                <h1>@Html.Sitecore().Field("MetaTitle")</h1>
                            </header>
                            <!-- [Event Details] -->
                            <div class="well">
                                <p class="text-muted">Start Date: @Html.Sitecore().Field("Start Date", new { format = "dd MMMM yyyy" })</p>
                                <p class="text-muted">Duration: @Html.Sitecore().Field("Duration")</p>
                                <span class="text-muted">Difficulty:</span>
                                <div class="difficulty-circle">
                                    <input type="radio" name="group-2" id=group-2-0 value=10 />
                                    <label class=red for=group-2-0></label>
                                    <input type="radio" checked="checked" name="group-2" id=group-2-1 value=9 />
                                    <label class=red for=group-2-1></label>
                                    <input type="radio" name="group-2" id=group-2-2 value=8 />
                                    <label class=red for=group-2-2></label>
                                    <input type="radio" name="group-2" id=group-2-3 value=7 />
                                    <label class=yellow for=group-2-3></label>
                                    <input type="radio" name="group-2" id=group-2-4 value=6 />
                                    <label class=yellow for=group-2-4></label>
                                    <input type="radio" name="group-2" id=group-2-5 value=5 />
                                    <label class=yellow for=group-2-5></label>
                                    <input type="radio" name="group-2" id=group-2-6 value=4 />
                                    <label class=green for=group-2-6></label>
                                    <input type="radio" name="group-2" id=group-2-7 value=3 />
                                    <label class=green for=group-2-7></label>
                                    <input type="radio" name="group-2" id=group-2-8 value=2 />
                                    <label class=green for=group-2-8></label>
                                    <input type="radio" name="group-2" id=group-2-9 value=1 />
                                    <label class=green for=group-2-9></label>
                                </div>
                            </div>
                            <!-- [/Event Details] -->
                            <!-- [Event Content] -->
                            <div class="lead">
                               @Html.Sitecore().Field("ContentBody")
                            </div>
                            <div class="article image">
                                @Html.Sitecore().Field("Event Image", new { mw = 1000, mh = 568, @class="img-responsive" })
                            </div>
                            <div class="highlights">
                                <h4>Trip Highlights</h4>
                                @Html.Sitecore().Field("Highlights")
                            </div>
                            <!-- [/Event Content] -->
                            <!-- [/Event Info] -->
                            <hr />
                            <!-- [Comments List] -->
                            <div class="comments">
                                <h4>What others have to say</h4>
                                <div><strong>John</strong> &mdash; 05 Feb 2016</div>
                                <blockquote>Fantastic hike, I did it in 2014, I can't wait to do it again!</blockquote>
                                <div><strong>Kerry</strong> &mdash; 06 Feb 2016</div>
                                <blockquote>It is too long, and not really worth it.</blockquote>
                            </div>
                            <!-- [/Comments List] -->
                            <!-- [Comments Form] -->
                            <div>
                                <form action="#">
                                    <div>
                                        <input type="text" class="form-control" placeholder="Name" name="email">
                                        <input type="text" class="form-control" placeholder="Add your comment here" name="comment">
                                    </div>
                                    <input type="submit" class="btn btn-default" value="Submit Comment">
                                </form>
                            </div>
                            <!-- [/Comments Form] -->
                        </div>
                    </div>
                    <!-- [/Two Columns] -->
                </div>
            </section>
        </main>
        <!-- [/Page Content] -->
        <!-- [Footer Content] -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- [About Us] -->
                        <div class="well">
                            <h4>About Us</h4>
                            <p>
                                The Adventure Company is a nonprofit organization. In each location where we sponsor events, we carefully vet local conservation
                                organizations so that our members have the opportunity to donate their money where it will do the most good on a
                                local level.
                            </p>
                        </div>
                        <!-- [/About Us] -->
                    </div>
                    <div class="col-md-4">
                        <!-- [Meta Navigation] -->
                        <ul class="nav nav-stacked">
                            <li>
                                <a href="Content-page.html" title="Legal Notice">Legal Notice</a>
                            </li>
                            <li>
                                <a href="Content-page.html" title="Privacy Policy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="Content-page.html" title="Terms and Conditions">Terms and Conditions</a>
                            </li>
                        </ul>
                        <!-- [/Meta Navigation] -->
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- [Copyright] -->
                            <small class="copyright">
                                <span>Copyright &copy; 2016 Version 1.0.0.0</span>
                            </small>
                            <!-- [/Copyright] -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- [/Footer Content] -->
    </div>
    <script src="/Scripts/Sitecore.Foundation.Theming.min.js"></script>
    <script src="/Scripts/Navigation.js"></script>
</body>

</html>